/frontend/node_modules/
/node_modules/
/.idea/.gitignore
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/frontend/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/IBMDB2/Connection.php
/database.env
